body {
    background-color: #ffcb91;
}



#imgBox {
    background: url("images/pizzaResturant1.jpg") no-repeat;
    background-size: cover;
    
}
#imgBox:hover {
    background: url("images/pizzaResturant2.jpg") no-repeat;
    background-size: cover;
    transition: 0.8s;
}

#imgBox2 {
    background: url("images/pizzaResturant2.jpg") no-repeat;
    background-size: cover;
    
}
#imgBox2:hover {
    background: url("images/pizzaResturant3.jpg") no-repeat;
    background-size: cover;
    transition: 0.8s;
}

#imgBox3 {
    background: url("images/pizzaResturant3.jpg") no-repeat;
    background-size: cover;
    
}
#imgBox3:hover {
    background: url("images/pizzaResturant4.jpg") no-repeat;
    background-size: cover;
    transition: 0.8s;
}

#imgBox4 {
    background: url("images/pizzaResturant4.jpg") no-repeat;
    background-size: cover;
    
}
#imgBox4:hover {
    background: url("images/pizzaResturant1.jpg") no-repeat;
    background-size: cover;
    transition: 0.8s;
}
#imgcontent {
    width: 3rem;
    height: 340px;
}